TZ=UTC
SERVER_MEMORY=10240
SERVER_PORT=1117
SERVER_IP=10.17.1.1
P_SERVER_LOCATION=DevLand
P_SERVER_UUID=87d2b0e0-3c25-424e-b403-ea787d562fd1
P_SERVER_ALLOCATION_LIMIT=10
STARTUP=bash
HOME=/home/container
